.follow-area {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-right: 10px;
}
.follow-suggestion__body .follow-area button{
    background: black !important;
    border: black !important;
}
.rateit-score{
    vertical-align: super;
}
body main.main-content-container div.main-content-container-inner div.right-sb-container div.sidebar__inner div.follow-suggestion{
   background: #F7F9F9;
    padding: 10px;
}